body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #ffffff;
  color: #000;
}

.Logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

.GD-logo {
  width: 90%;
  max-width: 300px;
  height: auto;
  padding: 50px,0;
}

.Header-text {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  background-color: black;
  padding: 20px;
  position: relative;
}

.text-logo {
  width: 250px;
  height: auto;
  padding-left: 10px;
}


.by {
  margin-right: 5px;
}

.logo-by-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slide {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: height 0.5s ease;
  height: 80px;
  position: relative;
  cursor: pointer;
}

.slide.expanded {
  height: auto;
  max-height: 1000px; /* Prevent runaway height */
  padding-bottom: 20px;
}

.slide .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.expanded .content {
  opacity: 1;
}

.bullet-points {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: px;
  margin-top: 10px;
}

.bullet-points li {
  color: #000;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.bullet-points li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}

button {
  background: rgba(194, 225, 238, 0.356);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 12px 24px;
  color: #000;
  font-size: inherit;
  cursor: pointer;
  width: 250px;
  height: 50px;
}

#ptr {
  position: relative;
  width: 50%;
  height: auto;
  z-index: -1;
}

.pattern {
  width: 1080px;
  height: 100px;
  opacity: 100%;
  transform: rotate(90deg);

}

.pattern-image {
  transform: rotate(90deg);
  width: 720px;
  height: auto;

}

.bottom {
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 40px 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  background-color: black;
  max-width: 800px;
}


/* Disable clicking inside collapsed slides */
.slide:not(.expanded) a,
.slide:not(.expanded) button {
  pointer-events: none;
  opacity: 0.5; /* Optional fade effect */
}

/* When expanded, restore interactivity */
.slide.expanded a,
.slide.expanded button {
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 1080px) {
  .Header-text {
    font-size: 18px;
    padding: 15px;
  }

  .bullet-points li {
    font-size: 14px;
    padding: 10px;
  }

  .slide.expanded {
    height: 500px; /* Adjusted for smaller screens */
    max-height: 1000px;
    padding-bottom: 20px;
  }
}
