body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.Logo-icon {
display: flex;
  align-items: center;
  justify-content: center;
}


.GD-logo {
  width: 500px;
  height: 100%;
}
.Header-text {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background-color: black;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
.text-logo {
width: 350px;
height: auto;
padding: 5px 0px 0px 25px;
margin: 0px;
}

.by {
  margin: -100px 0px 0px 0px;
  padding: -100px 0px 0px 0px;
}
.nav-links {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 200px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: medium;
  font-size: 33px;
}

.slider {
  display: flex;
  width: 100vw;
  height: 600px;
  overflow: hidden;
}

.logo-by-text {
  position: absolute;
  alight-items: center;
  color: #ffffff;

}

.slide {
  flex: 1;
  position: relative;
  transition: flex 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.slide.retracted {
  flex: 0.4;
  opacity: 0.7;
}

.slide.expanded {
  flex: 3;
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.expanded .content {
  opacity: 1;
}

footer {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100px;
  color: #ffffff;
}
.pattern {
  display: flex;
  opacity: 0.5;

}

pattern-image {
  width: 100%;
  height: 50px;
}

.bullet-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  
  align-items: flex-start; /* Top vertically */
  justify-content: flex-end; /* Left horizontally */


}

.bullet-points li {
  position: relative;
  top:0;
  left:0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  color: #000000;
  font-size: 20px;
  
}